.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
    font-size: 1.1rem;
}

.title span {
    color: #666666;
    font-size: 0.9rem;
}

.content {
    margin-top: 30px;
}

.content * {
    margin-bottom: 1em;
}

.content img {
    width: 100%;
    height: auto;
}

.tags {
    margin-top: 30px;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
  .title {
        font-size: 0.9rem;
    }
}