* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'GowoonDodum', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
    border: none;
    height: 1px;
    background-color: #66666648;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100px;
    border-bottom: 1px solid #66666648;
}

.inner {
    width: 50%;
    min-width: 800px;
    height: 100%;
}

header .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    justify-content: space-around;
}

header nav {
    margin-bottom: 10px;
}

li {
    list-style: none;
}

header nav ul li a {
    font-size: 1.2rem;
}

header nav ul li a:hover {
    border-bottom: 3px solid #0000009d;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 800px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100vw;
    height: 100px;
    border-top: 1px solid #66666648;
}

@media (max-width: 768px) {
  .inner {
    min-width: 320px
  }
}

@font-face {
    font-family: 'GowoonDodum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}